@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    article {
      @apply prose;
    }

    article,
    .container {
      @apply w-full max-w-full md:max-w-[700px] md:mx-auto px-2;
    }

    &,
    article {
      h2 {
        @apply text-3xl font-bold mb-6 mt-10;
      }

      h3 {
        @apply text-2xl mb-6 mt-8;
      }

      p {
        @apply my-4 leading-7;
      }

      hr {
        @apply my-8;
      }

      a {
        @apply border-b font-bold text-green-500 hover:text-green-600 border-green-400 hover:border-green-600 no-underline;
      }
    }
  }
}
